<p id="notice"><%= notice %></p>

<h1>Files</h1>

<table class="table table-borderless table-dark">
  <thead>
    <tr>
      <th scope="col" colspan="1">file name</th>
      <th scope="col" colspan="3">options</th>
    </tr>
  </thead>

  <tbody>
    <% @file_uploaders.each do |file_uploader| %>
      <tr>

        <td>
        <% file_uploader.data_file.each do |file|%>
          <span class="file-name"><%= file.filename %></span>
        <% end %>
        </td>
        <td>
          <%= link_to 'Show', file_uploader, :method=>"get" %>
        </td>
        <td><%= link_to 'Edit', edit_file_uploader_path(file_uploader), :method=>"get" %></td>
        <td><%= link_to 'Destroy', file_uploader, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New File Uploader', new_file_uploader_path, :method=>"get", class:"btn btn-primary" %>
